$color:darkblue;
.paragraph_1
{
    color: $color;
}
.paragraph_2
{
    color: $color;
}
#okok{
    font-family: 'Times New Roman', Times, serif;
    p{
        color: darkmagenta;
    }
    h2{
        color: darkkhaki;
    }
}