<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <p>Hello word</p>
        <ol>
            <li><a href="index1.html">This is the link to my first site</a></li>
            <li><a href="index2.html">This is the link to my second site</a></li>
            <li><a href="index3.html">This is the link to my third site</a></li>
        </ol>
        <div class = "container">
            <div class= "row">
                <div class = "col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                            <img src="DSC_0278.JPG" class="card-img-top" alt="Phanh">
                            <div class="card-body">
                            <h5 class="card-title">My first site</h5>
                            <p class="card-text"></p>
                            <a href="index1.html" class="btn btn-primary">Click here</a>
                            </div>
                        </div>
                </div>
                <div class = "col-lg-3 col-sm-6">
                        <div class="card" style="width: 18rem;">
                                <img src="IMG_20181121_202350_141.jpg" class="card-img-top" alt="together">
                                <div class="card-body">
                                <h5 class="card-title">My Second site</h5>
                                <p class="card-text"></p>
                                <a href="index2.html" class="btn btn-primary">Click here</a>
                                </div>
                            </div>
                </div>
                <div class = "col-lg-3 col-sm-6">
                        <div class="card" style="width: 18rem;">
                                <img src="IMG_20181125_202619_940.jpg" class="card-img-top" alt="Dan">
                                <div class="card-body">
                                <h5 class="card-title">My third site</h5>
                                <p class="card-text"></p>
                                <a href="index3.html" class="btn btn-primary">Click here</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </body>
</html>